{% extends 'main/layout.html' %}

{%block title%}{{title}}{%endblock%}

{%block content%}
    <div class="features">

        <h1>{{title}}</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda delectus id ipsum molestias necessitatibus omnis praesentium quisquam sit soluta. Assumenda, expedita facilis maiores nesciunt nostrum repellat repudiandae soluta tenetur.</p>
        <button class="btn btn-warning">Нажать</button>
<!--         {% for el in values %}-->
<!--            {% if el == 123 %}-->
<!--                 {% filter lower %}-->
<!--                     <p>{{el}}</p>-->
<!--                {% endfilter%}-->
<!--             {% endif%}-->
<!--         {% endfor%}-->

<!--        {% for value in obj.values %}-->
<!--            <p>{{value}}</p>-->
<!--        {% endfor %}-->

    </div>

{%endblock%}
